.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  width: 421px;
  text-align: center;
}
.modal p {
  margin-bottom: 21px;
}
button {
  padding: 7px 14px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
button.delete {
  background-color: #e40800;
  color: white;
  transition: all 0.5s ease 0s;
}
button.delete:hover {
  background-color: red;
}
button.cancel {
  background-color: #1e65b7;
  color: white;
  transition: all 0.5s ease 0s;
}
button.cancel:hover {
  background-color: #1479eb;
}
button.save {
  background-color: #367e38;
  color: white;
  transition: all 0.5s ease 0s;
}
button.save:hover {
  background-color: #4caf50;
}

.form {
  margin-top: 7px;
  margin-bottom: 14px;
}

.input {
  width: 321px;
  padding: 7px 14px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin-top: 14px;
}
.textarea {
  width: 321px;
  min-height: 63px;
  padding: 7px 14px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin-top: 14px;
  resize: vertical;
}

.errorText {
  margin-top: 7px;
  color: red;
}